In [79]:
import pandas as pd

In [80]:
gdp = pd.read_csv('GDP.csv')

In [81]:
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.840089,2.901229,NaN
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.003577,-0.869394,NaN
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.545322,1.417526,1.001987,1.774487,2.218752,3.314805,3.802197,4.071301,2.214063,NaN
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,1.849238,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.375284,2.810261,3.439551,1.222168,4.095195,4.070949,4.225631,3.815619,4.171660,NaN
260,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-12.714823,2.392886,4.823415,-0.188591,-27.994439,-9.375060,-5.072010,0.752599,NaN,NaN
261,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844751,6.177883,7.373613,7.939782,6.122761,...,3.284168,2.213355,2.485200,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,NaN
262,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,5.564602,7.597593,5.057491,4.697729,2.919980,3.776775,3.504326,4.034812,1.705793,NaN
263,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.704035,4.829674,-8.100000,NaN

In [82]:
# Remove any rows with no vlaues
gdp=gdp.dropna(how='all')

In [83]:
# Remove Unnecessary columns
gdp = gdp.drop(gdp.loc[:,'Country Code':'1999'].columns,axis=1)

In [84]:
gdp

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,7.616588,-2.971257,-3.273646,1.975547,7.911563,1.214349,1.050608,1.800226,-0.090708,...,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.840089,2.901229,NaN
2,Angola,3.054624,4.205999,13.665687,2.989850,10.952862,15.028915,11.547683,14.010018,11.166138,...,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.003577,-0.869394,NaN
3,Albania,6.950036,8.290070,4.539961,5.530051,5.509999,5.529915,5.900084,5.979982,7.499970,...,2.545322,1.417526,1.001987,1.774487,2.218752,3.314805,3.802197,4.071301,2.214063,NaN
4,Andorra,3.528361,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,1.849238,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,26.973918,-0.700948,5.980146,2.612127,6.033230,4.503032,7.286083,6.305856,...,4.375284,2.810261,3.439551,1.222168,4.095195,4.070949,4.225631,3.815619,4.171660,NaN
260,"Yemen, Rep.",6.181916,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,-12.714823,2.392886,4.823415,-0.188591,-27.994439,-9.375060,-5.072010,0.752599,NaN,NaN
261,South Africa,4.200003,2.699995,3.700382,2.949079,4.554553,5.277056,5.603798,5.360476,3.191047,...,3.284168,2.213355,2.485200,1.846992,1.193733,0.399088,1.414513,0.787056,0.152583,NaN
262,Zambia,3.897323,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,5.564602,7.597593,5.057491,4.697729,2.919980,3.776775,3.504326,4.034812,1.705793,NaN
263,Zimbabwe,-3.059190,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.704035,4.829674,-8.100000,NaN

In [85]:
gdp = gdp.drop(columns='2020')

In [87]:
gdp = gdp.dropna(subset=['2001'])

In [96]:
gdp['2001'].describe()

count    243.000000
mean       3.410676
std        5.407363
min       -9.310638
25%        1.328677
50%        3.185030
75%        4.814709
max       63.379875
Name: 2001, dtype: float64

In [91]:
828/217

3.815668202764977